body {
    background-color: #FFB74D;
    font-family: 'Roboto', sans-serif;
}

.home-link {
    text-align: right;
    margin: 20px;
}

.home-link a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.home-link a:hover {
    color: #A1C2F1;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: #06283D;
}

thead th {
    color: white;
    font-size: 20px;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #ECEFF1;
}

tbody td, tbody th {
    text-align: left;
    padding: 10px;
    border: 3px solid #06283D;
}

.td, .th {
    font-size: 16px;
}
