body {
            background-color: #A1C2F1;
        }

        tr{
            background-color: white;
        }

        th{
            font-style: italic;
            font-size: 16px;
        }

        th, td {
          text-align: left;
          padding: 10px;
          border: 3px solid #06283D;
        }

        .exercise-table__container{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
