<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Site || Final Project ZP</title>
    <style>
body{
    background-color: rgb(132, 173, 160);
}

.testClass__header{
    color: #fff;
}

.testClass__par{
    color: #fff;
}
    </style>

</head>
<body>
    <div class="testClass">
        <h1 class="testClass__header">Test</h1>
        <p class="testClass__par">some text</p>
    </div>
</body>
</html>
