<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Site || Final Project ZP</title>
    <link rel="stylesheet" type="text/css" href="/styles/home/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
</head>
<body>
<div class="menu">
    <div>
        <button onclick="window.open('http://localhost:8080/exercises/all', '_self')">Show all exercises</button>
    </div>
    <div>
        <button onclick="window.open('http://localhost:8080/programs/all', '_self')">Show all programs</button>
    </div>
    <div>
        <button onclick="window.open('http://localhost:8080/programs/new', '_self')">Create new program</button>
    </div>
</div>

<div class="carousel">
    <!-- Add your carousel content here -->
    <img src="exercise1.jpg" alt="Exercise 1">
    <img src="exercise2.jpg" alt="Exercise 2">
    <img src="exercise3.jpg" alt="Exercise 3">
</div>
</body>
</html>
