body {
    background-color: #A1C2F1;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

.home-link {
    text-align: right;
    margin-bottom: 20px;
}

.home-link a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.home-link a:hover {
    color: #FF8F00;
}

.form-container {
    width: 60%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-left: 2px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 3px solid #06283D;
    border-radius: 8px;
}

input[type="submit"] {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #06283D;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FF8F00;
}
