body {
            background-color: #A1C2F1;
        }

        div{
            left: 0;
            right: 0;
        }

        label{
            font-style: italic;
            font-size: 16px;
            margin-left: 2px;
        }

        p{
            background-color: white;
            margin: 0;
            margin-bottom: 8px;
            border: 2px solid black;
            padding: 10px;
            font-size: 22px;
        }

        .program-details-container{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
