<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styles/programs/newProgram.css">

</head>
<body>

<div class="main-container">
    <div class="home-link">
        <a href="http://localhost:8080/SportSite/home">Home</a>
    </div>
    <div class="form-container">
        <form action="#" th:action="@{/programs/new}" th:object="${key_program}" method="post">
            <div class="form-group">
                <label>Program name</label>
                <input type="text" th:field="${key_program.programName}" class="text"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>
