<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styles/programs/newProgram.css">

</head>
<body>

<div class="main-container">
    <div>
        <form action="#" th:action="@{/programs/new}" th:object="${key_program}" method="post">
            <div style="text-align: right; margin-bottom: 36px; margin-right: 8px;">
                <a href="http://localhost:8080/SportSite/home">Home</a>
            </div>
            <div>
                <label>Program name</label>
                <input type="text" th:field="${key_program.programName}" class="text" style="width: 100%;"/>
            </div>
            <div style="text-align: center;">
                <input type="submit" value="Submit" style="background-color: #06283D; color: white;"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>