<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SportSite || Exercise Programs</title>
  <link rel="stylesheet" type="text/css" href="/styles/programs/programs.css">

</head>
<body>
<div class="home-link">
  <a href="http://localhost:8080/SportSite/home">Home</a>
</div>
<div>
  <form action="#" th:action="@{/programs/all}" th:object="${key_program}" method="post">
    <label>Program name:</label>
    <input type="text" th:field="${key_program.programName}" class="text"/>
    <input type="submit" value="Submit"/>
  </form>
</div>
<div class="programs__container">
  <table>
    <thead>
    <tr>
      <th class="th">#</th>
      <th class="th">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="program : ${key_program_list}">
      <td class="td" th:text="${programStat.index+1}"></td>
      <td class="td programName" th:text="${program.programName}"></td>
      <td class="td"><a th:href="@{'http://localhost:8080/programs/id/' + ${program.id}}">Select program</a></td>
      <td class="td">
        <form th:action="@{'/programs/id/' + ${program.id} + '/delete'}" method="post">
          <button>
            <img src="/images/trashcan24.png">
            Delete
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>

